@charset "utf-8";
.date_range_picker {
    position: relative;
    z-index: 1;
}

.date_range_picker.active {
    z-index: 2;
}

.date_range_picker .values {
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
}

.checkin-date {
    white-space: nowrap;
    position: relative;
    z-index: 1;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #002855;
    padding-bottom: 5px;
}

.checkout-date {
    /* display: block; */
    white-space: nowrap;
    position: relative;
    z-index: 1;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #002855;
    padding-bottom: 5px;
    padding-left: 88px;
}

.date_range_picker.active .values {
    box-shadow: 0 1px 0 #3399cc;
    position: relative;
    z-index: 2;
}

.date_range_picker .values .value,
.date_range_picker .values .to,
.date_range_picker .values .clear {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    font-size: 18px;
    line-height: 24px;
}

.date_range_picker .values .to {
    width: 20px;
    height: 1px;
    margin: 0 calc( 13px - 0.285em) 0 7px;
    background: #DDDDDD;
    display: inline-block;
    vertical-align: middle;
}

.date_range_picker .values .clear {
    float: right;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 6px 0;
    cursor: pointer;
    display: none;
    background: url("../images/clear.svg") 50% 50% no-repeat;
    background-size: 12px 12px;
}

.date_range_picker .values .value span {
    cursor: pointer;
}

.date_range_picker .values .value.active span {
    color: #3399cc;
}

.date_range_picker .values .value input {
    opacity: 0;
}


/***************************************************************************************************
 * Calendar
 **************************************************************************************************/

.date_range_picker .calendar {
    display: none;
    width: 566px;
    height: 319px;
    margin: 0px;
    padding: 10px 0px;
    background: #fff;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

.date_range_picker.active .calendar {
    display: block;
}

.date_range_picker .calendar .button {
    position: absolute;
    top: 20px;
    z-index: 3;
    width: 36px;
    height: 29px;
    padding: 8px;
    border: 1px solid #ccc;
    opacity: .5;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    background-size: 18px 11px;
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.date_range_picker .calendar .button:hover {
    opacity: 1;
}

.date_range_picker .calendar .button-prev {
    background-image: url("../images/prev.svg");
    left: 20px;
}

.date_range_picker .calendar .button-next {
    background-image: url("../images/next.svg");
    right: 20px;
}

.date_range_picker .calendar .calendarContainer {
    position: absolute;
    top: 10px;
    left: -263px;
    z-index: 2;
    float: left;
    width: 1092px;
    text-align: left;
    font-size: 0px;
}

.date_range_picker .calendar table {
    display: inline-block;
    vertical-align: top;
    width: 253px;
    margin: 10px;
    padding: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

.date_range_picker .calendar table caption {
    width: 100%;
    line-height: 29px;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
}

.date_range_picker .calendar table th {
    width: 37px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #999;
    box-sizing: border-box;
    padding: 0;
}

.date_range_picker .calendar td {
    width: 36px;
    height: 35px;
    font-size: 15px;
    line-height: 33px;
    box-sizing: border-box;
    padding: 0;
}

.date_range_picker .calendar td.valid,
.date_range_picker .calendar td.inactive {
    border: 1px solid #e4e7e7;
}

.date_range_picker .calendar td.valid {
    cursor: pointer;
}

.date_range_picker .calendar td.valid:hover {
    background: #cccccc;
}

.date_range_picker .calendar td.today {
    color: #666;
}

.date_range_picker .calendar td.inactive {
    color: #ccc;
}

.date_range_picker .calendar td.valid.intermediate,
.date_range_picker .calendar td.valid.intermediate-hover,
.date_range_picker .calendar td.valid.hovered {
    background: #83c6e7;
    border: 1px double #56aed9;
    color: #fff;
}

.date_range_picker .calendar td.valid.intermediate-hover,
.date_range_picker .calendar td.valid.hovered {
    color: #3399cc;
}

.date_range_picker .calendar td.valid.start,
.date_range_picker .calendar td.valid.end {
    background: #3399cc;
    border: 1px double #3399cc;
    color: #fff;
}