.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 100px;
    color: #000;
    border: 0;
    background: none;
    z-index: 1;
}

.slick-prev {
    left: -35px;
}

.slick-prev:after {
    content: "\f104";
    font: 40px/1 'FontAwesome';
}

.slick-next {
    right: 20px;
    text-align: right;
}

.slick-next:after {
    content: "\f105";
    font: 40px/1 'FontAwesome';
}

.slick-prev:hover:after,
.slick-next:hover:after {
    color: #7e7e7e;
}