.slick-slide{
    position: relative;
}

.slick-prev,
.slick-next {
    font-size: 0;
    z-index: 1;
    width: 56px;
    height: 56px;
    border: 1px solid black;
    background: none;
    margin: 0;
    padding: 0;
    @include center(vertical);
    &:after {
        content: "";
        display: block;
        width: 16px;
        height: 7px;
        @include center(both);
    }
    &:hover{
        :after {
            color: #7e7e7e;
        }
    }
}

.slick-prev {
    left: -70px;     
    &:after {
        background: url("/assets/images/right-arrow.svg") no-repeat;
    }
}

.slick-next {
    right: -70px;
    &:after {
       background: url("/assets/images/right-arrow.svg") no-repeat; 
    }
}