.booking-widget
  .tab
    button.tablinks(onclick="FE.global.showBookingTab(event, 'room')") お部屋
    button.tablinks(onclick="FE.global.showBookingTab(event, 'restaurant')") レストラン
    button.tablinks(onclick="FE.global.showBookingTab(event, 'packages')") お部屋+航空券

  #room.tabcontent
    form#form(method='get')
      #departure
        label(for='taste_1') 出発空港
        select(name='cars' placeholder='出発空港')
          option(value='volvo') 出発空港
          option(value='saab') 出発空港
          option(value='fiat') 出発空港
          option(value='audi') 出発空港
      #date_range_picker.date_range_picker.col.col-1-4
        .values
          .datelabel 
            span.checkin-date When
            span.checkout-date Optional Date
          .value.date_at      
            span.date_at
            input#date_at.date_at(type='hidden')
          .to
          .value.date_to
            
            span.date_to
            input#date_to.date_to(type='hidden')
          .clear
        .calendar
          .button.button-prev
          .button.button-next
          .calendarContainer
      #people
        label(for='taste_1') ご利用人数
        select(name='cars' placeholder='出発空港')
          option(value='volvo') 1
          option(value='saab') 2
          option(value='fiat') 3
          option(value='audi') 4
    .clearfix
  #restaurant.tabcontent
    h3 レストラン
  #packages.tabcontent
    h3 レストラン




    
    