section.main-banner.lazy(data-src="/assets/images/banner.jpg")
    .banner-text
      h1 空港と寺社を臨む
        span RISE ABOVE THE BAY
    .photos-link
      a.guestPhotos(href="#tabs") Guest Photos
      a.hotelPhotos(href="#tabs") Hotel Photos