.home-slider
  .container
    .home-slider-nav
      div
        img(src='/assets/images/1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/2.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/3.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/2.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/3.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
