.home-slider-video
  .container
<<<<<<< HEAD
    .slider-video-container(onclick='FE.global.videoPlayer(event)')
        video#video(preload='auto' poster='/assets/images/Loading.gif')(data-target='close')
        .home-video-slider-nav
          .div
            img.lazy(data-src='/assets/images/video1.jpg' data-video-src='https://www.w3schools.com/html/mov_bbb.mp4')
            p
              span Restaurants
          .div
            img.lazy(data-src='/assets/images/video2.jpg' data-video-src='https://www.w3schools.com/html/mov_bbb.mp4')
            p
              span Rooms
          .div
            img.lazy(data-src='/assets/images/video3.jpg' data-video-src='https://www.w3schools.com/html/mov_bbb.mp4')
            p
              span Banquets
          .div
            img.lazy(data-src='/assets/images/video4.jpg' data-video-src='https://www.w3schools.com/html/mov_bbb.mp4')
            p
              span Onsen & Spa
.slider-video-widget.visible-xs
  .container
    .slider-video-container
        .home-video-slider-nav-mobile
            .first
              img(src='/assets/images/videoMobile1.jpg')
              p
                span Restaurants
            .sec
              img(src='/assets/images/videoMobile2.jpg')
              p
                span Rooms
            .third
              img(src='/assets/images/videoMobile3.jpg')
              p
                span Banquets
            .fourth
              img(src='/assets/images/videoMobile1.jpg')
              p
                span Onsen & Spa
=======
    .section-title
      h2 ART HOTEL OSAKA BAY TOWER
      .slider-video-widget.hidden-xs
        .container
          .slider-video-container
              #video(preload='auto' poster='/assets/images/Loading.gif' data-target='close')
              .home-video-slider-nav
                .div(onmouseover="FE.global.videoPlayer(event)" onmouseout="FE.global.clearTimer(event)" onclick="FE.global.navigatePage('rooms.html')")
                  img(src='/assets/images/video1.jpg' data-src='https://www.w3schools.com/html/mov_bbb.mp4')
                  p
                    span Restaurants
                .div(onmouseover="FE.global.videoPlayer(event)" onmouseout="FE.global.clearTimer(event)" onclick="FE.global.navigatePage('rooms.html')")
                  img(src='/assets/images/video2.jpg' data-src='https://www.w3schools.com/html/mov_bbb.mp4' data-link='/rooms.html')
                  p
                    span Rooms
                .div(onmouseover="FE.global.videoPlayer(event)" onmouseout="FE.global.clearTimer(event)" onclick="FE.global.navigatePage('rooms.html')")
                  img(src='/assets/images/video3.jpg' data-src='https://www.w3schools.com/html/mov_bbb.mp4')
                  p
                    span Banquets
                .div(onmouseover="FE.global.videoPlayer(event)" onmouseout="FE.global.clearTimer(event)" onclick="FE.global.navigatePage('rooms.html')")
                  img(src='/assets/images/video4.jpg' data-src='https://www.w3schools.com/html/mov_bbb.mp4')
                  p
                    span Onsen & Spa
      .slider-video-widget.visible-xs
        .container
          .slider-video-container
              .home-video-slider-nav-mobile
                  .first
                    img(src='/assets/images/videoMobile1.jpg')
                    p
                      span Restaurants
                  .sec
                    img(src='/assets/images/videoMobile2.jpg')
                    p
                      span Rooms
                  .third
                    img(src='/assets/images/videoMobile3.jpg')
                    p
                      span Banquets
                  .fourth
                    img(src='/assets/images/videoMobile1.jpg')
                    p
                      span Onsen & Spa
>>>>>>> 6d69a918373d7e773d0dfa77689010ca4d525ce7
