.home-slider-video
  .container
    .section-title
      h2 ART HOTEL OSAKA BAY TOWER
      .slider-video-widget.hidden-xs
        .container
          .slider-video-container(onclick='FE.global.videoPlayer(event)')
              video#video(preload='auto' poster='/assets/images/Loading.gif')(data-target='close')
              .home-video-slider-nav
                .div
                  img(src='/assets/images/video1.jpg' data-src='https://www.w3schools.com/html/mov_bbb.mp4')
                  p
                    span Restaurants
                .div
                  img(src='/assets/images/video2.jpg' data-src='https://www.w3schools.com/html/mov_bbb.mp4')
                  p
                    span Rooms
                .div
                  img(src='/assets/images/video3.jpg' data-src='https://www.w3schools.com/html/mov_bbb.mp4')
                  p
                    span Banquets
                .div
                  img(src='/assets/images/video4.jpg' data-src='https://www.w3schools.com/html/mov_bbb.mp4')
                  p
                    span Onsen & Spa
      .slider-video-widget.visible-xs
        .container
          .slider-video-container
              .home-video-slider-nav-mobile
                  .first
                    img(src='/assets/images/videoMobile1.jpg')
                    p
                      span Restaurants
                  .sec
                    img(src='/assets/images/videoMobile2.jpg')
                    p
                      span Rooms
                  .third
                    img(src='/assets/images/videoMobile3.jpg')
                    p
                      span Banquets
                  .fourth
                    img(src='/assets/images/videoMobile1.jpg')
                    p
                      span Onsen & Spa
