section.gallery
	.container
		.section-title
			h2 LIVE GALLERY
		a#tablink(href='') open
		ul.tabs.open#tabs
			li
				a(href='', data-href='#tab1') ホテル写真
			li
				a(href='', data-href='#tab2') ゲスト写真
			li
				a(href='', data-href='#tab3') ライブフィード
			li
				a(href='', data-href='#tab4') ブランドビデオ
		#tab1.tabContent
			div#instafeed.instafeed(data-limit='7')
		#tab2.tabContent
			div.hotel-photos
				a(href="")
					img.lazy(data-src="/assets/images/gallery/1.jpg")
				a(href="")
					img.lazy(data-src="/assets/images/gallery/2.jpg")
				a(href="")
					img.lazy(data-src="/assets/images/gallery/3.jpg")
				a(href="")
					img.lazy(data-src="/assets/images/gallery/4.jpg")
				a(href="")
					img.lazy(data-src="/assets/images/gallery/5.jpg")
				a(href="")
					img.lazy(data-src="/assets/images/gallery/6.jpg")
				a(href="")
					img.lazy(data-src="/assets/images/gallery/7.jpg")
				a(href="")
					img.lazy(data-src="/assets/images/gallery/8.jpg")
		#tab3.tabContent
			div Images
			p Tab3
				span VIEW GALLERY
		#tab4.tabContent
			div Images
			p Tab4
				span VIEW GALLERY