.home-slider
  .container
    .home-slider-title HILIGHTS
    .home-slider-nav.hidden-xs
      div
        img(src='/assets/images/1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/2.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/3.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/1.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/2.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        img(src='/assets/images/3.jpg')
        .date 2017/10/04 ~ 2018/02/03
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
    .home-slider-nav.visible-xs
          div
            img(src='/assets/images/mobile1.jpeg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          div
            img(src='/assets/images/mobile2.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          div
            img(src='/assets/images/mobile3.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          div
            img(src='/assets/images/mobile1.jpeg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          div
            img(src='/assets/images/mobile2.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          div
            img(src='/assets/images/mobile3.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
