#modal1.modal(role='dialog', aria-labelledby='modal-1', aria-describedby='basic-modal', tabindex='-1', style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title Title
                button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
             .modal-body Description
            .modal-footer
                button(data-dismiss='modal', aria-label='Close') Close
