section.content-image
    source(media='(min-width: 356px)', srcset='/assets/narita/images/pool-info1.jpg')
    img(src='/assets/narita/images/pool-info1.jpg')
    .row
      p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった

section.promo-content
    h3 その他のサービス
    ul.row
      li.col.col-1-3
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo1.jpg')
        img(src='/assets/narita/images/promo1.jpg')
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        .see-more
          span もっと見る
      li.col.col-1-3
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo2.jpg')
        img(src='/assets/narita/images/promo2.jpg')
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        .see-more
          span もっと見る
      li.col.col-1-3
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo3.jpg')
        img(src='/assets/narita/images/promo3.jpg')
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった
        .see-more
          span もっと見る