.section-title {
    text-align: center;
    h2 {
        font-weight: $semi-bold;
        line-height: 1.47;
        letter-spacing: 2.6px;
        color: #141414;
        display: inline-block;
        margin: 0 0 50px 0;
        &:after {
            content: '';
            background: black;
            width: 100%;
            height: 2px;
            display: block;
        }
    }
}

.sticky {
    position: fixed;
    top: 12px;
    width: 100%;
    z-index: 9;
    bottom: auto;
    padding-bottom: 0 !important;
    box-shadow: 3.5px 3.5px 6px 0 rgba(0, 0, 0, 0.04);
    .tab-container {
        height: 172px;
    }
    + .home-slider {
        padding-top: 302px;
    }
}