.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 23.6em 8.7em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.sprite-login:before {
      background-position: 0em 0em;
      width: 2em;
      height: 2.3em;
  }




  .icon.sprite-phone:before {
      background-position: 0em -2.3em;
      width: 1.2em;
      height: 1.2em;
  }




  .icon.sprite-phone-mobile:before {
      background-position: 0em -3.5em;
      width: 1.7em;
      height: 1.8em;
  }




  .icon.sprite-top-logo:before {
      background-position: 0em -5.3em;
      width: 23.6em;
      height: 3.4em;
  }





