// Color scheme
// -----
$white: #fff;
$black: #333;

// $primary
// $secondary

// Text
// -----
$textColor: #333;
$fontSize: 14px;
$fontFamily: "Roboto", sans-serif;

// Input
// -----
$inputHeight: 45px;
// $inputBorderRadius

// Spacing & Others
// -----
$spacing: 10px;
