.content-image {
    img {
        margin: 0 auto;
        padding: 81px 0 41px 0;
    }
    p {
        max-width: 673px;
        margin: 0 auto;
    }
}

.pool-info-content {
    max-width: 920px;
    background-color: #ffffff;
    margin: 0 auto;
    .col {
        border-right: 1px solid #eee;
    }
}