extends ../layouts/default

block append content
	.access-page
		section.main-banner
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/access/banner.jpg')
				img(src='/assets/narita/images/access/banner.jpg')
			.banner-text
				h1 アクセス
		.about-venue-info-wrap
			section.about-venue-info
				h3 TOGETHER IN  STYLE
				p のイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら		
		section.location
			.map-container
				#gmap_canvas(data-lat='12.9316' data-lan='77.7946' data-src='../assets/narita/images/marker-icon.png')
				.map-info-wrap
					h3 HOW TO FIND US
					ul
						li JR「成田」駅および成田空港からシャトルバスに揺られて15分。
						li 空港通り沿いに「ホテルマイステイズプレミア成田」は建ちます。
						li 駅や空港からはタクシーもご利用いただけます。
					.airpot-stop-info
						h6 乗り場番号
						ul
							li JR 成田駅東口4番乗り場
							li 成田空港第一ターミナル16番乗り場
							li 成田空港第二ターミナル26番乗り場
				.btn.btn-map GOOGLE MAPで見る
					i.mys-arrow-left.white
		section.shuttle-bus-wrap
			h2 シャトルバス
			.shuttle-bus
				.level.level1
					h4 東京	
					.box
						.box-content
							.round-btn 高速バス
							p 新宿西口23番
						.arrow
							span 約1時間10分
					.box
						.box-content
							.round-btn 高速バス
							p 新宿西口23番
						.arrow
							span 約1時間10分
					.box
						.box-content
							.round-btn 高速バス
							p 新宿西口23番
						.arrow
							span 約1時間10分
					.box
						.box-content
							.round-btn 高速バス
							p 新宿西口23番
						.arrow
							span 約1時間10分
					.box
						.box-content
							.round-btn 高速バス
							p 新宿西口23番
						.arrow.arrow2
							span 約1時間10分				
				.level.level2
					h4 成田
					.box
						.box-content
							.round-btn 無料シャトルバス
							p 成田空港
						.arrow
							span 約1時間10分
					.box.box1-3
						.box-content
							.round-btn 無料シャトルバス
							p 成田空港
						.arrow
							span 約1時間10分
				.level.level3
					h4 成田
					.box.blue.box1-5
						.box-content
							p MSP成田
		section.access-time-table-wrap
			.access-time-table
				.table
					.table-row
						.table-head 時刻
						.table-head ホテル
						.table-head 第1ターミナル1階16番発
						.table-head 第2ターミナル1階26番発
					.table-row
						.table-column 
							span 4
						.table-column 
							span ※30
						.table-column 
							span 
						.table-column 
							span 
					.table-row
						.table-column 
							span 5
						.table-column 							 
							span ※00
							span ※30
						.table-column 
							span 
						.table-column 
							span
					.table-row
						.table-column 
							span 6
						.table-column 
							span 00
							span 30
						.table-column 							
							span 
						.table-column 
							span 
					.table-row
						.table-column 
							span 1
						.table-column 
							span 2 
							span 2
						.table-column 
							span 3
						.table-column 
							span 4

		section.access-map
			.container
				h2 USJアクセス
				img(src='/assets/narita/images/access/access-map.jpg')
		section.parking-space
			.container
				h2 駐車設備
				.parking-content 
					p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
					img(src="/assets/narita/images/parking-space.jpg", alt="")

		section.contact
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/pool1.jpg')
				img(src='/assets/narita/images/pool1.jpg')
			.banner-text
				span お問合せ
				h1 000-0000-0000
		include ../components/breadcrumb.pug
