extends ../layouts/default

block append content
    .page-gallery
        section.main-banner
            picture.banner-image
                source(media='(min-width: 768px)', srcset='/assets/narita/images/gallery/gallery-banner.jpg')
                img(src='/assets/narita/images/gallery/gallery-banner-mobile.jpg') 
            .banner-text
                h1  ギャラリー 
        section.gallery-images-list
            .menu-gradient
            .container                
                ul.room-types.image-types
                    li
                        a.selected(data-room-type="all") 一覧表示
                    li
                        a(data-room-type="all specialty") スペシャリティスイート
                    li
                        a(data-room-type="all family") 家族部屋
                    li
                        a(data-room-type="all women") 女性専用部屋
                    li
                        a(data-room-type="all nonsmoking") 禁煙室
                    li
                        a(data-room-type="all smoking") 喫煙室
        section.gallery-images
            .container
                ul.rooms-list.image-list
                    li.show(data-rooms="all nonsmoking")
                        img.lazy(data-src='/assets/narita/images/gallery/page/exterior-small.jpg' data-show-id="popup-gallery" data-slide="0")
                    li.show(data-rooms="all women")
                        img.lazy(data-src='/assets/narita/images/gallery/page/superior-double-small.jpg' data-show-id="popup-gallery" data-slide="1")
                    li.show(data-rooms="all specialty")
                        img.lazy(data-src='/assets/narita/images/gallery/page/comfort-double-small.jpg' data-show-id="popup-gallery" data-slide="2")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/executive-twin-small.jpg' data-show-id="popup-gallery" data-slide="3")
                    li.show(data-rooms="all women")
                        img.lazy(data-src='/assets/narita/images/gallery/page/superior-twin-small.jpg' data-show-id="popup-gallery" data-slide="4")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/deluxe-twin-small.jpg' data-show-id="popup-gallery" data-slide="5")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/superior-queen-small.jpg' data-show-id="popup-gallery" data-slide="6")
                    li.show(data-rooms="all family")
                        img.lazy(data-src='/assets/narita/images/gallery/page/standard-triple-small.jpg' data-show-id="popup-gallery" data-slide="7")
                    li.show(data-rooms="all smoking")
                        img.lazy(data-src='/assets/narita/images/gallery/page/japanese-suite-small.jpg' data-show-id="popup-gallery" data-slide="8")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/standard-twin-small.jpg' data-show-id="popup-gallery" data-slide="9")
                    li.show(data-rooms="all family")
                        img.lazy(data-src='/assets/narita/images/gallery/page/standard-urban-small.jpg' data-show-id="popup-gallery" data-slide="10")
                    li.show(data-rooms="all nonsmoking")
                        img.lazy(data-src='/assets/narita/images/gallery/page/premier-suite-small.jpg' data-show-id="popup-gallery" data-slide="11")
                    li.show(data-rooms="all women")
                        img.lazy(data-src='/assets/narita/images/gallery/page/comfor-twin-small.jpg' data-show-id="popup-gallery" data-slide="12")
                    li.show(data-rooms="all specialty")
                        img.lazy(data-src='/assets/narita/images/gallery/page/standard-triple-small.jpg' data-show-id="popup-gallery" data-slide="13")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/azuma-small.jpg' data-show-id="popup-gallery" data-slide="14")
                    li.show(data-rooms="all women")
                        img.lazy(data-src='/assets/narita/images/gallery/page/gardenia-small.jpg' data-show-id="popup-gallery" data-slide="15")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/horai-small.jpg' data-show-id="popup-gallery" data-slide="16")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/pegasus-small.jpg' data-show-id="popup-gallery" data-slide="17")
                    li.show(data-rooms="all family")
                        img.lazy(data-src='/assets/narita/images/gallery/page/banquest-food-small.jpg' data-show-id="popup-gallery" data-slide="18")
                    li.show(data-rooms="all smoking")
                        img.lazy(data-src='/assets/narita/images/gallery/page/oak-small.jpg' data-show-id="popup-gallery" data-slide="19")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/sky-room-small.jpg' data-show-id="popup-gallery" data-slide="20")
                    li.show(data-rooms="all family")
                        img.lazy(data-src='/assets/narita/images/gallery/page/other-small.jpg' data-show-id="popup-gallery" data-slide="21")
                    li.show(data-rooms="all nonsmoking")
                        img.lazy(data-src='/assets/narita/images/gallery/page/bus-small.jpg' data-show-id="popup-gallery" data-slide="22")
                    li.show(data-rooms="all women")
                        img.lazy(data-src='/assets/narita/images/gallery/page/store-small.jpg' data-show-id="popup-gallery" data-slide="23")
                    li.show(data-rooms="all specialty")
                        img.lazy(data-src='/assets/narita/images/gallery/page/garden-small.jpg' data-show-id="popup-gallery" data-slide="24")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/gym-small.jpg' data-show-id="popup-gallery" data-slide="25")
                    li.show(data-rooms="all women")
                        img.lazy(data-src='/assets/narita/images/gallery/page/laundry-small.jpg' data-show-id="popup-gallery" data-slide="26")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/lobby-small.jpg' data-show-id="popup-gallery" data-slide="27")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/sauna-small.jpg' data-show-id="popup-gallery" data-slide="28")
                    li.show(data-rooms="all family")
                        img.lazy(data-src='/assets/narita/images/gallery/page/parking-small.jpg' data-show-id="popup-gallery" data-slide="29")
                    li.show(data-rooms="all smoking")
                        img.lazy(data-src='/assets/narita/images/gallery/page/pool-small.jpg' data-show-id="popup-gallery" data-slide="30")
                    li.show(data-rooms="all")
                        img.lazy(data-src='/assets/narita/images/gallery/page/tennis-small.jpg' data-show-id="popup-gallery" data-slide="31")
                    li.show(data-rooms="all family")
                        img.lazy(data-src='/assets/narita/images/gallery/page/shinshoji-small.jpg' data-show-id="popup-gallery" data-slide="32")
                    li.show(data-rooms="all family")
                        img.lazy(data-src='/assets/narita/images/gallery/page/sakuranoyama-small.jpg' data-show-id="popup-gallery" data-slide="33")
        include ../components/breadcrumb.pug
        .gallery-nav#gallery-nav(data-basicLightbox data-id="popup-gallery")
            