extends ../layouts/default

block append content
  .main-banner
    .main-header
      .logo.col.col-1-4 Logo
      .main-navigation
        ul.col.col-1-2
          li
            a(href='pages/homepage.html') オファー
            a(href='#') ギャラリー
            a(href='#') ルーム
            a(href='#') アクセス
            a(href='#') レストラン
            a(href='#') 会議・宴会
            a(href='#') 設備
            a(href='#') 観光名所
            a(href='#') 温泉&スパ
      div.col.col-1-4
        .language Language
        a.login(href='#') マイページ
    .banner-text.col.col-1-1 空港と寺社を臨む
      span RISE ABOVE THE BAY
      span.guestPhotos Guest Photos
      span.hotelPhotos Hotel Photos
  .booking-widget
  include ../components/home-slider.pug
  .banner-middle
    img(src='/assets/images/banner-middle.jpg')
  .guest-review
    .h5 Gust Review
  include ../components/home-video-slider.pug
  .art-concept
    .h5 ART CONCEPT
  .gallery
    .container
      .section-title
        h2 LIVE GALLERY
      ul.tabs#tabs
        li
          a(href='', data-href='#tab1') ホテル写真
        li
          a(href='', data-href='#tab2') ゲスト写真
        li
          a(href='', data-href='#tab3') ライブフィード
        li
          a(href='', data-href='#tab4') ブランドビデオ
      #tab1.tabContent
        div#instafeed
      #tab2.tabContent
        div Images
        p Tab2
          span VIEW GALLERY
      #tab3.tabContent
        div Images
        p Tab3
          span VIEW GALLERY
      #tab4.tabContent
        div Images
        p Tab4
          span VIEW GALLERY
  .location
    .h5 OSAKA ON YOUR DOORSTEP
