extends ../layouts/default

block append content
  .main-banner
    .main-header
      .logo.col.col-1-4 Logo
      .main-navigation
        ul.col.col-1-2
          li
            a(href='pages/homepage.html') オファー
            a(href='#') ギャラリー
            a(href='#') ルーム
            a(href='#') アクセス
            a(href='#') レストラン
            a(href='#') 会議・宴会
            a(href='#') 設備
            a(href='#') 観光名所
            a(href='#') 温泉&スパ
      div.col.col-1-4
        .language Language
        a.login(href='#') マイページ
    .banner-text.col.col-1-1 空港と寺社を臨む
      span RISE ABOVE THE BAY
      span.guestPhotos Guest Photos
      span.hotelPhotos Hotel Photos
  .booking-widget
  .slider-widget
    .container
      p HILIGHTS
      span もっと見る
      .slider-container
        img.arrow.slick-left(src='/assets/images/left-arrow.svg')
        .slider.slider-nav(data-slick='{"slidesToShow": 3, "slidesToScroll": 3}')
          .slide
            img(src='/assets/images/1.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          .slide
            img(src='/assets/images/2.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          .slide
            img(src='/assets/images/3.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          .slide
            img(src='/assets/images/1.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
          .slide
            img(src='/assets/images/2.jpg')
            .date 2017/10/04 ~ 2018/02/03
            .tagline あのイーハトーヴォのすきとおった風、夏でも底に。
        img.arrow.slick-right(src='/assets/images/right-arrow.svg')
  .banner-middle
    img(src='/assets/images/banner-middle.jpg')
  .video-banner
    .container
      .section-title
        h2 ART HOTEL OSAKA BAY TOWER
      .container-video
        .gallery-container(onclick='FE.global.videoPlayer(event)')
          #video-container.video-popup(data-target='close')
           video#video(preload='auto' poster='/assets/images/Loading.gif')(data-target='close')
          ul
            li.restaurants
              a(data-src='https://www.w3schools.com/html/mov_bbb.mp4') RESTAURANTS
            li.rooms
              a(data-src='http://techslides.com/demos/sample-videos/small.mp4') ROOMS
            li.banquets
              a(data-src='https://coverr.co/s3/mp4/Porto_View.mp4') BANQUETS
            li.onsen
              a(data-src='//vjs.zencdn.net/v/oceans.mp4') ONSEN & SPA
  .guest-review
    .h5 Gust Review
  .art-concept
    .h5 ART CONCEPT
  .gallery
    .container
      .section-title
        h2 LIVE GALLERY
      ul.tabs#tabs
        li
          a(href='', data-href='#tab1') ホテル写真
        li
          a(href='', data-href='#tab2') ゲスト写真
        li
          a(href='', data-href='#tab3') ライブフィード
        li
          a(href='', data-href='#tab4') ブランドビデオ
      #tab1.tabContent
        div#instafeed
      #tab2.tabContent
        div Images
        p Tab2
          span VIEW GALLERY
      #tab3.tabContent
        div Images
        p Tab3
          span VIEW GALLERY
      #tab4.tabContent
        div Images
        p Tab4
          span VIEW GALLERY
  .location
    .h5 OSAKA ON YOUR DOORSTEP
  .footer.col
    .footer-left.col.col-1-3
      p logo
      div © 2018 MYSTAYS HOTEL MANAGEMENT Co., Ltd.
    .footer-right
      .footer-navigation
        ul
          li
            a オファー
          li
            a ギャラリー
          li
            a ルーム
          li
            a アクセス
          li
            a レストラン
          li
            a 会議・宴会
          li
            a 設備
          li
            a 観光名所
          li
            a 温泉&スパ
      .footer-tabs.col
        .footer-tab1.col-1-4
          ul
            li
              a マイステイズ公式サイト
            li
              a ホテル＆リゾート
            li
              a 目的地
            li
              a 人気な観光名所
            li
              a サイトマップ
        .footer-tab2.col-1-4
          ul
            li
              a ご意見・ご要望
            li
              a チャットする
            li
              a お問い合わせ
            li
              a ご宿泊予約のキャンセル
            li
              a お電話：03-3434-3939
        .footer-tab3.col-1-4
          ul
            li
              a 企業概要
            li
              a 企業情報
            li
              a 開発
            li
              a 採用情報
            li
              a メディア連絡先
        .footer-tab4.col-1-4
          ul
            li
              a 方針
            li
              a 個人情報保護方針
            li
              a ご宿泊予約のキャンセルポリシー
        .footer-tab5
          ul
            li
              a クッキーの設定
            li
              a よくあるご質問
            li
              a  最低価格保証
