extends ../layouts/default

block append content
  include ../components/home-banner.pug
  include ../components/booking-widget.pug
  include ../components/home-slider.pug
  .banner-middle
    picture 
      source(media='(min-width: 768px)', data-srcset='/assets/narita/images/banner-middle.jpg')
<<<<<<< HEAD
      img.lazy(data-src='/assets/narita/images/banner-middle-mobile.jpg')    
=======
      img(data-src='/assets/narita/images/banner-middle-mobile.jpg' class="lazy")    
>>>>>>> 863727ab430e33df686698917f5a90abe7539e73
  include ../components/home-video-slider.pug
  include ../components/home-review.pug
  include ../components/home-concept.pug
  include ../components/home-gallery.pug
  include ../components/google-map.pug
  include ../components/gallery-mask.pug
