extends ../layouts/default

block append content


  .main-banner
      .main-navigation
        h4.logo.col.col-1-4 Logo
        ul.col.col-1-2
          li
            a(href='pages/homepage.html') オファー
            a(href='#') ギャラリー
            a(href='#') ルーム
            a(href='#') アクセス
            a(href='#') レストラン
            a(href='#') 会議・宴会
            a(href='#') 設備
            a(href='#') 観光名所
            a(href='#') 温泉&スパ
        div.col.col-1-4
          .language Language
          a.login(href='#') マイページ
      .banner-text.col.col-1-1 空港と寺社を臨む
        span RISE ABOVE THE BAY
        span.guestPhotos Guest Photos
        span.hotelPhotos Hotel Photos
  .booking-widget
  .container
    .slider-widget
    p HILIGHTS
    span もっと見る
    i.slick-left.fa.fa-long-arrow-left.arrow1(aria-hidden='true')
    i.slick-right.fa.fa-long-arrow-right.arrow1(aria-hidden='true')
    .slider.slider-nav
      div
        p 2017/10/04 ~ 2018/02/03
        img(src='/assets/images/1.jpg')
        p あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        p 2017/10/04 ~ 2018/02/03
        img(src='/assets/images/2.jpg')
        p あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        p 2017/10/04 ~ 2018/02/03
        img(src='/assets/images/3.jpg')
        p あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        p 2017/10/04 ~ 2018/02/03
        img(src='/assets/images/1.jpg')
        p あのイーハトーヴォのすきとおった風、夏でも底に。
      div
        p 2017/10/04 ~ 2018/02/03
        img(src='/assets/images/2.jpg')
        p あのイーハトーヴォのすきとおった風、夏でも底に。
  .banner-middle
    img(src='/assets/images/banner-middle.jpg')
  .container
    .video-banner
      .video-banner-title ART HOTEL OSAKA BAY TOWER
      ul(onclick='FE.global.videoPlayer(event)')
        li.restaurants
          a(data-src='https://www.w3schools.com/html/mov_bbb.mp4') RESTAURANTS
        li.rooms
          a(data-src='https://www.w3schools.com/html/mov_bbb.mp4') ROOMS
        li.banquets
          a(data-src='https://www.w3schools.com/html/mov_bbb.mp4') BANQUETS
        li.onsen
          a(data-src='https://www.w3schools.com/html/mov_bbb.mp4') ONSEN & SPA
  .guest-review
    .h5 LIVE GALLERY
  .art-concept
    .h5 ART CONCEPT
  .gallery
  .location
    .h5 OSAKA ON YOUR DOORSTEP
  .footer
