extends ../layouts/default

block append content
  .main-banner.lazy(data-src="/assets/images/banner.jpg")
    .main-header
      .logo.col.col-1-4 Logo
      .main-navigation
        ul.col.col-1-2
          li
            a(href='pages/homepage.html') オファー
            a(href='#') ギャラリー
            a(href='#') ルーム
            a(href='#') アクセス
            a(href='#') レストラン
            a(href='#') 会議・宴会
            a(href='#') 設備
            a(href='#') 観光名所
            a(href='#') 温泉&スパ
      div.col.col-1-4
        .language Language
        a.login(href='#') マイページ
    .banner-text.col.col-1-1 空港と寺社を臨む
      span RISE ABOVE THE BAY
      span.guestPhotos Guest Photos
      span.hotelPhotos Hotel Photos
  include ../components/booking-widget.pug
  include ../components/home-slider.pug
  .banner-middle
<<<<<<< HEAD
    img.lazy(data-src='/assets/images/banner-middle.jpg')
  .home-slider-video
    .container
      .section-title
        h2 ART HOTEL OSAKA BAY TOWER
        include ../components/home-video-slider.pug
=======
    img(src='/assets/images/banner-middle.jpg')
  include ../components/home-video-slider.pug
>>>>>>> 6d69a918373d7e773d0dfa77689010ca4d525ce7
  .guest-review
    .h5 Gust Review
  include ../components/home-concept.pug
  include ../components/home-gallery.pug
  include ../components/google-map.pug
