extends ../layouts/default

block append content


    .main-banner
        .main-navigation
          h4.logo.col.col-1-4 Logo
          ul.col.col-1-2
            li
              a(href='pages/homepage.html') オファー
              a(href='#') ギャラリー
              a(href='#') ルーム
              a(href='#') アクセス
              a(href='#') レストラン
              a(href='#') 会議・宴会
              a(href='#') 設備
              a(href='#') 観光名所
              a(href='#') 温泉&スパ
          div.col.col-1-4
            .language Language
            a(href='#') マイページ
        .banner-text 空港と寺社を臨む
          span RISE ABOVE THE BAY
    .booking-widget
    .slider-widget
      p HILIGHTS
      span もっと見る
      .slider.slider-nav
        div
          img(src='/assets/images/1.jpg')
        div
          img(src='/assets/images/2.jpg')
        div
          img(src='/assets/images/3.jpg')
    .banner-middle
      img(src='/assets/images/banner-middle.jpg')
    .video-banner
        .video-banner-title ART HOTEL OSAKA BAY TOWER
        ul
          li
            a RESTAURANTS
          li
            a ROOMS
          li
            a BANQUETS
          li
            a ONSEN & SPA
    .guest-review
    .art-concept
    .gallery
    .location
    .footer
