extends ../layouts/default

block append content
  section.main-banner
    picture.banner-image
      source(media='(min-width: 768px)', srcset='/assets/narita/images/pool.jpg')
      img(src='/assets/narita/images/pool.jpg')
    //- .banner-text
    //-   h1 プール
  .about-rooms-wrap
    .about-rooms-info
      h3 SIMPLE, BLISSFUL MOMENTS
      p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、
      p 夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォの 
      p すきとおった風、夏でも底に冷たさをもつ青いそら
  section
    picture.banner-image
      source(media='(min-width: 768px)', srcset='/assets/narita/images/pool5.jpg')
      img(src='/assets/narita/images/pool5.jpg')
  section.pool-info
    .content-wrapper
      h3 リード文リード文リード文
      h3 リード文リード文
      p tもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそ
    picture.content-image
      source(media='(min-width: 460px)', srcset='/assets/narita/images/pool6.jpg')
      img(src='/assets/narita/images/pool6.jpg')
    picture.pool-image
      source(srcset='/assets/narita/images/pool8.jpg')
      img(src='/assets/narita/images/pool8.jpg')
      
  section.promo-content
    h3 併用施設
    ul
      li
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo-image.jpg')
        img(src='/assets/narita/images/promo-image.jpg')
        .header 施設01
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさを
      li
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo-image.jpg')
        img(src='/assets/narita/images/promo-image.jpg')
        .header 施設01
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさを
      li
        source(media='(min-width: 356px)', srcset='/assets/narita/images/promo-image.jpg')
        img(src='/assets/narita/images/promo-image.jpg')
        .header 施設01
        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさを
        

  section
    picture.banner-image
      source(media='(min-width: 768px)', srcset='/assets/narita/images/pool2.jpg')
      img(src='/assets/narita/images/pool2.jpg')

  section
    picture.banner-image
      source(media='(min-width: 768px)', srcset='/assets/narita/images/pool1.jpg')
      img(src='/assets/narita/images/pool1.jpg')
      .banner-text
       span お問合せ
       h1 000-0000-0000