extends ../layouts/default

block append content
  section.main-banner
    picture.banner-image
      source(media='(min-width: 768px)', srcset='/assets/narita/images/pool.jpg')
      img(src='/assets/narita/images/pool.jpg')
    .banner-text
      h1 プール
  .about-rooms-wrap
    .about-rooms-info
      h3 SIMPLE, BLISSFUL MOMENTS
      p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、
      p 夏でも底に冷たさをもつ青いそら、あうつくしい森で飾られたモリーオ市あのイーハトーヴォの
      p すきとおった風、夏でも底に冷たさをもつ青いそら
      
  section.contact
    picture.banner-image
      source(media='(min-width: 768px)', srcset='/assets/narita/images/pool1.jpg')
      img(src='/assets/narita/images/pool1.jpg')
    .banner-text
      span お問合せ
      h1 000-0000-0000
  include ../components/breadcrumb.pug
