doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='assets/images/favicon.ico?v=1.0')
    title OE web scaffolding

    // build:css assets/styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css assets/styles/main.css
    link(rel='stylesheet', href='assets/styles/main.css')
    link(rel='stylesheet', href='assets/styles/components/modal.css')
    <!-- link(rel='stylesheet', href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css') -->
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css')
    // endbuild
  body
    .container
      include ../includes/header.pug
      include ../components/modal-popup.pug
      include ../components/booking-widget.pug

  
      p.heading Video player
      #light
        a#boxclose.boxclose
        video#VisaChipCardVideo(width='600', controls='')
         
      #fade

      div
        ul
          li
            img(src='assets/images/video1.jpeg', alt='Video 1')
            a.thiru(href='#') Restorants
          li
            img(src='assets/images/video2.jpeg', alt='Video 1')
            a(href='#' onclick='FE.global.videoPlayer("https://www.w3schools.com/html/mov_bbb.mp4")') Rooms
          li
            img(src='assets/images/video3.jpeg', alt='Video 1')
            a(onclick='FE.global.videoPlayer("http://res.cloudinary.com/david-wash-blog/video/upload/sample-video.mp4")') Banquets
          li
            img(src='assets/images/video4.jpeg', alt='Video 1')
            a.thiru(href='#') Onsea and Spa

      p.heading Popup
      button(data-toggle='modal', data-target='modal1')  Modal

      p.heading Slider
      .slider-container
          // MAIN SLIDES
          .slider
            div
              img(src='assets/images/slide1.jpg', alt='One')
              figcaption
                | Caption for image one.
            div
              img(src='assets/images/slide2.jpg', alt='Two')
              figcaption
                | Caption for image two.
            div
              img(src='assets/images/slide3.jpg', alt='Three')
              figcaption
                | Caption for image three.
            div
              img(src='assets/images/slide4.jpg', alt='Four')
              figcaption
                | Caption for image four.
            div
              img(src='assets/images/slide5.jpg', alt='Five')
              figcaption
                | Caption for image five.
          // THUMBNAILS
          .slider-nav-thumbnails
            div
              img(src='assets/images/slide1.jpg', alt='One')
            div
              img(src='assets/images/slide2.jpg', alt='Two')
            div
              img(src='assets/images/slide3.jpg', alt='Three')
            div
              img(src='assets/images/slide4.jpg', alt='Four')
            div
              img(src='assets/images/slide5.jpg', alt='Five')

      br
      p.heading lazyload (scroll to see)
      .row
        .col.col-1-2
            img.lazy(src='http://placehold.it/1200x600&text=one', data-src="assets/images/slide1.jpg", alt='')
        .col.col-1-2
            img.lazy(src='http://placehold.it/1200x600&text=one', data-src="assets/images/slide2.jpg", alt='')
        .col.col-1-2
            img.lazy(src='http://placehold.it/1200x600&text=one', data-src="assets/images/slide3.jpg", alt='')
        .col.col-1-2
            img.lazy(src='http://placehold.it/1200x600&text=one', data-src="assets/images/slide4.jpg", alt='')

      br
      p.heading Tabs
      ul#tabs
        li
          a(href='#about') About JavaScript tabs
        li
          a(href='#advantages') Advantages of tabs
        li
          a(href='#usage') Using tabs
      #about.tabContent
        h2 About JavaScript tabs
        div
          p
            | JavaScript tabs partition your Web page content into tabbed sections. Only one section at a time is visible.
          p
            | The code is written in such a way that the page degrades gracefully in browsers that don&apos;t support JavaScript or CSS.
      #advantages.tabContent
        h2 Advantages of tabs
        div
          p JavaScript tabs are great if your Web page contains a large amount of content.
          p They&apos;re also good for things like multi-step Web forms.
      #usage.tabContent
        h2 Using tabs
        div
          p Click a tab to view the tab&apos;s content. Using tabs couldn&apos;t be easier!

      block content

      include ../includes/footer.pug

    // build:js assets/scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js assets/scripts/plugins.js
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    // endbuild

    // build:js assets/scripts/main.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js')
    script(src='assets/scripts/main.js')
    script(src='assets/scripts/modal.js')
    script(src='assets/scripts/videoplayer.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')

    // Will be reomved
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js')
    // endbuild
