.container {
  padding: 0;
}

.main-banner {
  height: 660px;
  background: url("/assets/images/banner.jpg");

  .main-header {
    @extend %clearfix;
    background-color: rgba(192,192,192,0.3);

    .main-navigation ul {
      li {
        a {
          font-family: $primary-font;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.5;
          letter-spacing: 0.7px;
          text-align: left;
          color: #ffffff;
        }
      }
    }

    .language {
      font-family: $primary-font;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.5;
      letter-spacing: 0.7px;
      text-align: left;
      color: #ffffff;
      float: left;
    }

    .login {
      font-family: $primary-font;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: 1.4px;
      text-align: left;
      color: #ffffff;
    }
  }

  .banner-text {
    text-align: center;
    font-family: $secondary-font;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.63;
    letter-spacing: 3.8px;
    color: #ffffff;

    span {
      display: block;
      font-size: 14px;
      font-weight: $semi-bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 4.32;
      letter-spacing: 5.3px;
      color: #ffffff;
    }
  }

  .guestPhotos,
  .hotelPhotos {
    @extend %clearfix;
    text-align: right;
  }
}

.slider-widget {
  margin-bottom: 130px;

  .slide {
    position: relative;
  }

  .date {
    position: absolute;
    bottom: 20px;
    left: 50px;
    text-align: center;
    background: #fff;
    padding: 17px 22px 20px;
  }

  .tagline {
    padding-top: 30px;
    //border-bottom: 1px solid #000000;
  }

  p {
    font-size: 16px;
    font-weight: $semi-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 6.69;
    letter-spacing: 3.1px;
    text-align: center;
    color: #141414;
  }

  .slick-left,
  .slick-right {
    font-size: 10px;
  }

  .action {
    display: block;
    margin: 100px auto;
    width: 100%;
    text-align: center;

    a {
      display: inline-block;
      padding: 5px 10px;
      background: #f30;
      color: #fff;
      text-decoration: none;

      &:hover {
        background: #000;
      }
    }
  }
}

.banner-middle {
  padding-bottom: 140px;
}

.video-banner {
  text-align: center;

  .video-popup video{
    display: none;
  }

  #video{
    position: absolute;
    left: 18%;
    width: 720px;
    margin: 0 auto;
  }

  .video-banner-title {
    font-size: 34px;
    font-weight: $semi-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 2.6px;
    text-align: center;
    color: #141414;
    border-bottom: 2px solid #1a1a1a;
    display: inline-block;
    margin-bottom: 86px;
  }

  ul li {
    height: 396px;
    width: 254px;
    float: left;
    margin-right: 42px;
    padding-top: 181px;
    text-align: center;

    a {
      font-size: 14px;
      font-weight: $semi-bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: 1.4px;
      text-align: center;
      color: #000000;
      background-color: #fafafa;
      padding: 3px 16px;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    &.restaurants {
      background: url("/assets/images/video1.jpg") no-repeat;
    }

    &.rooms {
      background: url("/assets/images/video2.jpg") no-repeat;
    }

    &.banquets {
      background: url("/assets/images/video1.jpg") no-repeat;
    }

    &.onsen {
      background: url("/assets/images/video2.jpg") no-repeat;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

#instafeed {
  a {
    display: block;
    float: left;
    img {
      width: 285px;
      height: 285px;
      display: block;
    }
    &#more-link {
      background-color: #232e48;
      position: relative;
      color: $secondary-color;
      span {
        @include font-size(24px);
        font-family: 'OpenSans';
        width: 285px;
        display: table-cell;
        height: 285px;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: -0.6px;
        text-align: center;
      }
      
    }
  }
}

.footer{
  background: #232e48;
}
