.container {
  padding: 0;
}

.main-banner {
  height: 660px;

  .main-header {
    @extend %clearfix;
    background-color: rgba(192,192,192,0.3);

    .main-navigation ul {
      li {
        a {
          font-family: $primary-font;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.5;
          letter-spacing: 0.7px;
          text-align: left;
          color: #ffffff;
        }
      }
    }

    .language {
      font-family: $primary-font;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.5;
      letter-spacing: 0.7px;
      text-align: left;
      color: #ffffff;
      float: left;
    }

    .login {
      font-family: $primary-font;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: 1.4px;
      text-align: left;
      color: #ffffff;
    }
  }

  .banner-text {
    text-align: center;
    font-family: $secondary-font;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.63;
    letter-spacing: 3.8px;
    color: #ffffff;

    span {
      display: block;
      font-size: 14px;
      font-weight: $semi-bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 4.32;
      letter-spacing: 5.3px;
      color: #ffffff;
    }
  }

  .guestPhotos,
  .hotelPhotos {
    @extend %clearfix;
    text-align: right;
  }
}

.booking-widget {
  padding-bottom: 100px;
}

.home-slider {
  margin-bottom: 130px;

  .home-slider-title {
    font-family: $default-font;
    @include font-size(16px);
    font-weight: 600;
    letter-spacing: 3.1px;
    text-align: center;
    color: #141414;
    padding-bottom: 36px;
    padding-left: 0;
    @include sm {
      padding-left: 80px;
    };

    span {
      display: inline-block;
      float: right;
      font-family: $primary-font;
      @include font-size(14px);
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1.1px;
      text-align: right;
      color: #141414;
      padding-right: 30px;
      background: url('/assets/images/arrow-right.svg') right center no-repeat;
    }
  }

  .date {
    text-align: center;
    background: #fff;
    padding: 15px 22px;
    display: block;
    @include font-size(12px);
    line-height: 1;
    max-width: 213px;
    margin: -24px auto 0;
    position: relative;
  }

  .tagline {
    font-weight: $semi-bold;
    color: #141414;
    text-align: left;
    @include font-size(14px);
    text-decoration: underline;
    padding: 0 65px;
    @include xs {
      padding: 0 15px;
    };
  }
}

.banner-middle {
  padding-bottom: 140px;

  img {
    width: 100%;
  }
}

.home-slider-video{
  text-align: center;
  margin-bottom: 40px;

  .home-slider-video-title{
    text-align: center;
  }

  #video {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
    padding: 0 21px;
  }

  .video-banner-title {
    font-size: 34px;
    font-weight: $semi-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 2.6px;
    text-align: center;
    color: #141414;
    border-bottom: 2px solid #1a1a1a;
    display: inline-block;
    margin-bottom: 86px;
  }

  .slider-video-container {
    position: relative;
    overflow: hidden;
  }

  .home-video-slider-nav p,
  .home-video-slider-nav-mobile p {
    font-size: 14px;
    font-weight: $semi-bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 1.4px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;

    span {
      font-family: $default-font;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: 1.4px;
      text-align: left;
      color: #000000;
      text-transform: uppercase;
      padding: 11px 23px;
      background-color: #fafafa;
    }
  }

  .slick-slide img {
    border-left: 21px solid #FFF;
    border-right: 21px solid #FFF;
    display: block;
    width: 100%;
  }

  .home-video-slider-nav-mobile {
    .first {
      margin-right: 40px;
    }

    .first,
    .fourth,
    .sec,
    .third {
      float: left;
      position: relative;
    }

    .sec {
      padding: 61px 0;
    }

    .third {
      margin-right: 40px;
      top: -60px;
    }

    p span {
      font-family: $default-font;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 2.4px;
      color: #000000;
    }
  }
}
