$icomoon-font-path: "fonts" !default;

$icon-generation-path1: "\e900";
$icon-generation-path2: "\e901";
$icon-generation-path3: "\e902";
$icon-generation-path4: "\e903";
$icon-generation-path5: "\e904";
$icon-generation-path6: "\e905";
$icon-generation-path7: "\e906";
$icon-generation-path8: "\e907";
$icon-generation-path9: "\e908";
$icon-generation-path10: "\e909";
$icon-generation-path11: "\e90a";
$icon-generation-path12: "\e90b";
$icon-generation-path13: "\e90c";
$icon-generation-path14: "\e90d";
$icon-generation-path15: "\e90e";
$icon-generation-path16: "\e90f";
$icon-activity: "\e910";
$icon-airconditioner: "\e911";
$icon-airpurifier: "\e912";
$icon-alarmclock: "\e913";
$icon-arw: "\e914";
$icon-babycot: "\e915";
$icon-babysitterservice: "\e916";
$icon-babysittingamenityset: "\e917";
$icon-bathroomamenities: "\e918";
$icon-bathtowel: "\e919";
$icon-bedguard: "\e91a";
$icon-bicycles: "\e91b";
$icon-bodysoap: "\e91c";
$icon-bodysponge: "\e91d";
$icon-calender: "\e91e";
$icon-cellphonecharger: "\e91f";
$icon-checked: "\e920";
$icon-cleaningservice: "\e921";
$icon-close: "\e922";
$icon-clothesiron: "\e923";
$icon-coffeemachine: "\e924";
$icon-coffeeservice: "\e925";
$icon-conditioner: "\e926";
$icon-conveniencestore: "\e927";
$icon-cookware: "\e928";
$icon-cookwareinkitchen: "\e929";
$icon-Cottonswab: "\e92a";
$icon-coupleorientedroom: "\e92b";
$icon-courierservice: "\e92c";
$icon-day-plan: "\e92d";
$icon-desk: "\e92e";
$icon-desklamp: "\e92f";
$icon-doublebed: "\e930";
$icon-doublebed-small: "\e931";
$icon-download: "\e932";
$icon-DVDplayer: "\e933";
$icon-electrickettle: "\e934";
$icon-facebook: "\e935";
$icon-facetowel: "\e936";
$icon-familyorientedroom: "\e937";
$icon-fax: "\e938";
$icon-fitness: "\e939";
$icon-flag_ch-path1: "\e93a";
$icon-flag_ch-path2: "\e93b";
$icon-flag_ch-path3: "\e93c";
$icon-flag_ch-path4: "\e93d";
$icon-flag_ch-path5: "\e93e";
$icon-flag_ch-path6: "\e93f";
$icon-flag_en-path1: "\e940";
$icon-flag_en-path2: "\e941";
$icon-flag_en-path3: "\e942";
$icon-flag_en-path4: "\e943";
$icon-flag_en-path5: "\e944";
$icon-flag_en-path6: "\e945";
$icon-flag_en-path7: "\e946";
$icon-flag_en-path8: "\e947";
$icon-flag_en-path9: "\e948";
$icon-flag_en-path10: "\e949";
$icon-flag_en-path11: "\e94a";
$icon-flag_en-path12: "\e94b";
$icon-flag_en-path13: "\e94c";
$icon-flag_en-path14: "\e94d";
$icon-flag_en-path15: "\e94e";
$icon-flag_en-path16: "\e94f";
$icon-flag_en-path17: "\e950";
$icon-flag_en-path18: "\e951";
$icon-flag_en-path19: "\e952";
$icon-flag_en-path20: "\e953";
$icon-flag_en-path21: "\e954";
$icon-flag_en-path22: "\e955";
$icon-flag_en-path23: "\e956";
$icon-flag_en-path24: "\e957";
$icon-flag_en-path25: "\e958";
$icon-flag_en-path26: "\e959";
$icon-flag_en-path27: "\e95a";
$icon-flag_en-path28: "\e95b";
$icon-flag_en-path29: "\e95c";
$icon-flag_en-path30: "\e95d";
$icon-flag_en-path31: "\e95e";
$icon-flag_en-path32: "\e95f";
$icon-flag_en-path33: "\e960";
$icon-flag_en-path34: "\e961";
$icon-flag_en-path35: "\e962";
$icon-flag_en-path36: "\e963";
$icon-flag_en-path37: "\e964";
$icon-flag_en-path38: "\e965";
$icon-flag_en-path39: "\e966";
$icon-flag_en-path40: "\e967";
$icon-flag_en-path41: "\e968";
$icon-flag_en-path42: "\e969";
$icon-flag_en-path43: "\e96a";
$icon-flag_en-path44: "\e96b";
$icon-flag_en-path45: "\e96c";
$icon-flag_en-path46: "\e96d";
$icon-flag_en-path47: "\e96e";
$icon-flag_en-path48: "\e96f";
$icon-flag_en-path49: "\e970";
$icon-flag_en-path50: "\e971";
$icon-flag_en-path51: "\e972";
$icon-flag_en-path52: "\e973";
$icon-flag_en-path53: "\e974";
$icon-flag_en-path54: "\e975";
$icon-flag_en-path55: "\e976";
$icon-flag_en-path56: "\e977";
$icon-flag_en-path57: "\e978";
$icon-flag_en-path58: "\e979";
$icon-flag_en-path59: "\e97a";
$icon-flag_en-path60: "\e97b";
$icon-flag_en-path61: "\e97c";
$icon-flag_en-path62: "\e97d";
$icon-flag_en-path63: "\e97e";
$icon-flag_en-path64: "\e97f";
$icon-flag_jp-path1: "\e980";
$icon-flag_jp-path2: "\e981";
$icon-flag_kr-path1: "\e982";
$icon-flag_kr-path2: "\e983";
$icon-flag_kr-path3: "\e984";
$icon-flag_kr-path4: "\e985";
$icon-flag_kr-path5: "\e986";
$icon-flag_kr-path6: "\e987";
$icon-flag_kr-path7: "\e988";
$icon-flag_kr-path8: "\e989";
$icon-flag_kr-path9: "\e98a";
$icon-flag_kr-path10: "\e98b";
$icon-flag_kr-path11: "\e98c";
$icon-flag_kr-path12: "\e98d";
$icon-flag_kr-path13: "\e98e";
$icon-flag_kr-path14: "\e98f";
$icon-flag_kr-path15: "\e990";
$icon-flag_kr-path16: "\e991";
$icon-flag_kr-path17: "\e992";
$icon-flag_kr-path18: "\e993";
$icon-flag_kr-path19: "\e994";
$icon-flag_kr-path20: "\e995";
$icon-flag_kr-path21: "\e996";
$icon-freeshuttlebus: "\e997";
$icon-grouporientedroom: "\e998";
$icon-gym: "\e999";
$icon-hairbrush: "\e99a";
$icon-haircomb: "\e99b";
$icon-hairdryer: "\e99c";
$icon-handsoap: "\e99d";
$icon-hotelphoto-path1: "\e99e";
$icon-hotelphoto-path2: "\e99f";
$icon-hotspring: "\e9a0";
$icon-humidififier-path1: "\e9a1";
$icon-humidififier-path2: "\e9a2";
$icon-humidififier-path3: "\e9a3";
$icon-humidififier-path4: "\e9a4";
$icon-humidififier-path5: "\e9a5";
$icon-icemachine: "\e9a6";
$icon-IHcooker: "\e9a7";
$icon-info: "\e9a8";
$icon-in-roommassage: "\e9a9";
$icon-insta-path1: "\e9aa";
$icon-insta-path2: "\e9ab";
$icon-insta-path3: "\e9ac";
$icon-japanesepublicbath: "\e9ad";
$icon-ladiesamenitiesset: "\e9ae";
$icon-lan: "\e9af";
$icon-laundary: "\e9b0";
$icon-library: "\e9b1";
$icon-like: "\e9b2";
$icon-login: "\e9b3";
$icon-map_pin-path1: "\e9b4";
$icon-map_pin-path2: "\e9b5";
$icon-meetingroom: "\e9b6";
$icon-memoryfoampillow: "\e9b7";
$icon-menu: "\e9b8";
$icon-microwaveoven: "\e9b9";
$icon-mini-fridge-path1: "\e9ba";
$icon-mini-fridge-path2: "\e9bb";
$icon-mini-fridge-path3: "\e9bc";
$icon-mini-fridge-path4: "\e9bd";
$icon-mini-fridge-path5: "\e9be";
$icon-mini-fridge-path6: "\e9bf";
$icon-mini-fridge-path7: "\e9c0";
$icon-mini-fridge-path8: "\e9c1";
$icon-mini-fridge-path9: "\e9c2";
$icon-modularbathroom: "\e9c3";
$icon-multiple-users-silhouette: "\e9c4";
$icon-negativeionhairdryer: "\e9c5";
$icon-next: "\e9c6";
$icon-nightwear: "\e9c7";
$icon-parkinglot: "\e9c8";
$icon-PCrental: "\e9c9";
$icon-people: "\e9ca";
$icon-petorientedroom: "\e9cb";
$icon-phone: "\e9cc";
$icon-pocketwifi: "\e9cd";
$icon-pool: "\e9ce";
$icon-portablespeaker: "\e9cf";
$icon-postalservice: "\e9d0";
$icon-prev: "\e9d1";
$icon-razor: "\e9d2";
$icon-refreshroom: "\e9d3";
$icon-rinse: "\e9d4";
$icon-safetybox: "\e9d5";
$icon-sauna: "\e9d6";
$icon-seniaororientedroom-path1: "\e9d7";
$icon-seniaororientedroom-path2: "\e9d8";
$icon-seniaororientedroom-path3: "\e9d9";
$icon-seniaororientedroom-path4: "\e9da";
$icon-seniaororientedroom-path5: "\e9db";
$icon-seniaororientedroom-path6: "\e9dc";
$icon-seniaororientedroom-path7: "\e9dd";
$icon-seniaororientedroom-path8: "\e9de";
$icon-seniaororientedroom-path9: "\e9df";
$icon-seniaororientedroom-path10: "\e9e0";
$icon-seniaororientedroom-path11: "\e9e1";
$icon-seniaororientedroom-path12: "\e9e2";
$icon-seniaororientedroom-path13: "\e9e3";
$icon-seniaororientedroom-path14: "\e9e4";
$icon-seniaororientedroom-path15: "\e9e5";
$icon-seniaororientedroom-path16: "\e9e6";
$icon-seniaororientedroom-path17: "\e9e7";
$icon-shampoo: "\e9e8";
$icon-shavingcream: "\e9e9";
$icon-shower: "\e9ea";
$icon-showercap: "\e9eb";
$icon-shuttlebus: "\e9ec";
$icon-singlebed: "\e9ed";
$icon-smellspray: "\e9ee";
$icon-souveniorshop: "\e9ef";
$icon-star: "\e9f0";
$icon-tableware: "\e9f1";
$icon-tablewareinkitchen: "\e9f2";
$icon-telephone: "\e9f3";
$icon-toiletwithwashlet: "\e9f4";
$icon-toothbrushset: "\e9f5";
$icon-trouserpress: "\e9f6";
$icon-tv: "\e9f7";
$icon-twitter: "\e9f8";
$icon-vendingmachine: "\e9f9";
$icon-videoondemand: "\e9fa";
$icon-wheelchair: "\e9fb";
$icon-whiteboard: "\e9fc";
$icon-wifi: "\e9fd";

