.news-detail-banner{
    
    @include md {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      z-index: 1;
    }
}

#experience-content-padder{

}

.news-detail-content{ 
  text-align: center;  
  h1{
    @include font-size(24px);
    line-height: 1.25;
    letter-spacing: 1.8px;
  } 
  h2{
    @include font-size(20px);
    line-height: 1.5;
    letter-spacing: 1.5px;
  } 
  p{
    @include font-size(14px);
    line-height: 2.14;
    letter-spacing: 1.1px;
    text-align: left;
  }
  @include md {
    margin: 0 0 0 auto;
    padding: 50px 45px 100px;
    width: 560px; 
  }
}