            .pool-info {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                position: relative;
                .content-wrapper {
                    flex-basis: 100%;
                    max-width: 374px;
                    margin: 120px 0 150px 251px;
                    h3 {
                        font-family: YuGo;
                        font-size: 24px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.67;
                        letter-spacing: 0.6px;
                        text-align: left;
                        color: #000000;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2;
                        letter-spacing: 1.4px;
                        text-align: left;
                        color: #333333;
                        margin-top: 50px;
                    }
                }
                .content-image {
                    position: absolute;
                    top: -100px;
                    right: 150px;
                }
                .pool-image {
                    margin-bottom: 60px;
                }
            }
            
            .promo-content {
                background-color: #fafafa;
                h3 {
                    font-family: YuGo;
                    font-size: 24px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.25;
                    letter-spacing: normal;
                    text-align: center;
                    color: #000000;
                    padding: 62px 0 40px 0;
                }
                ul {
                    display: flex;
                    justify-content: center;
                    margin: 0 150px;
                    .header {
                        font-family: YuGo;
                        font-size: 14px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 4.07;
                        letter-spacing: 1.7px;
                        text-align: left;
                        color: #333333;
                        text-align: center;
                    }
                    .content {
                        font-family: YuMin;
                        font-size: 14px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2;
                        letter-spacing: 1.4px;
                        text-align: justify;
                        color: #333333;
                        margin: 0 19px 0 18px;
                    }
                }
            }