.spa-content {
    position: relative;
    .read-statement {
        width: 540px;
        /* height: 550px; */
        opacity: 0.95;
        background-color: #ffffff;
        position: absolute;
        top: 80px;
        right: 150px;
    }
}