.spa-content {
    position: relative;
    .read-statement {
        padding: 70px;
        max-width: 540px;
        opacity: 0.95;
        background-color: #ffffff;
        @include md {
            position: absolute;
        }
        ;
        top: 80px;
        right: 150px;
        h3 {
            font-family: YuGo;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.67;
            letter-spacing: 0.6px;
            text-align: left;
            color: #000000;
            &.last-header {
                margin-bottom: 50px;
            }
        }
        p {
            font-family: YuMin;
            font-size: 14px;
            font-weight: 500;
            line-height: 2;
            letter-spacing: 1.4px;
            text-align: left;
            color: #333333;
        }
        ul li {
            font-family: YuGo;
            font-size: 14px;
            font-weight: 500;
            line-height: 2;
            letter-spacing: 1.4px;
            text-align: left;
            color: #333333;
        }
    }
}

.spa {
    .promo-content {
        background: #fff;
    }
}