.venue-page{
  background: #fcfcfc;
}

.venue-banner{
  h1{
    text-shadow: 0 0 8.5px rgba(0, 0, 0, 0.6);
  }
}

.about-venue-info{
  max-width: 660px;
  margin: 0 auto;
  padding: 60px 30px;
  text-align: center;
  @include md {
    padding: 80px 0 50px;
  }
  h3{
    font-family: 'Lato-B';
    line-height: 1;
    margin-bottom: 30px;
    letter-spacing: 0.8px;
  }
  p{
    @include font-size(14px);
    font-family: 'YuMin';
     line-height: 2;
     margin: 0;
  }
}

.venues-list-wrap{
  padding: 60px 10px 20px;
  @include md {
    padding: 80px 0 35px;
  }
  h4{
    text-align: center;
    @include font-size(24px);
    font-weight: 500;
    font-family: 'YuGo';
    margin-bottom: 30px;
  }
}

ul.venue-types{
  @extend ul.room-types;
}

ul.venue-list{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  margin:0;
  > li{
    width: 100%;
    background:$default-bg;
    margin-bottom: 40px;
    display: none;
    transition: all 1s ease;
    opacity: 1;
    animation: all 0.3s;
    box-shadow: 14.1px 14.1px 90px 0 rgba(0, 0, 0, 0.1);
    &.show{
      display: block;
      animation: bounceList 0.3s;
      opacity: 1;
    }
    @include sm {
      width: calc(100% / 3 - 23px);
    }
  }
  .venue-short-info{
    padding: 25px 25px 40px;
    h6{
      @include font-size(14px);
      line-height: 1.43;
      font-weight: 500;
      font-family: 'YuGo';
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 10px;
    }
    h5{
      @include font-size(20px);
      line-height: 1;
      font-weight: 500;
      font-family: 'YuGo';
      margin-bottom: 15px;
      font-weight: 700;
    }
    .floor{
      margin-bottom: 25px;
      font-family: 'Lato';
    }
    ul{
      margin: 0 -8px;
      padding: 10px 8px;
      border-top: 1px solid #f1f3ee;;
      li{
        margin-bottom: 10px;
        font-family: 'YuGo';
        display: flex;
        align-items: center;
        span{
          border: solid 1px #000000;
          width: 122px;
          line-height: 1;
          padding: 15px 5px;
          display: inline-block;
          text-align: center;
          margin-right: 30px;
        }
        .size{
          display: inline-block;
        }
      }
    }
    .see-more{
      text-align: center;
      position: relative;
      margin-top: 20px;
      display: block;
      &:before{
        content:"";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000;
        top: 8px;
      }
      &:after{
        content:"";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000;
        top: 10px;
      }
      span{
        background: #fff;
        font-weight: 700;
        color: #c5ad6c;
        padding: 0 35px;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.venues-slider-wrap{
  text-align: center;
  background: #fff;
  padding: 55px 0 25px;
  overflow: hidden;
  h2{
    @include font-size(24px);
    font-weight: 500;
    margin:0 0 50px;
  }
  .venues-slider{
    .slick-prev{
      left:-60px;
    }
    .slick-slide {
      margin:0 25px;
    }
    .slick-next{
      right: -60px;
    }
  }
  .slick-list{
    overflow: initial;
  }
  .slick-arrow{
    top: 50%;
    transform: translateY(-50%);
    width: 66px;
    height: 66px;
  }
}

.venue-slider-info{
  padding: 25px 25px 60px;
  .slider-count{
    float: left;
    line-height: 81px;
    font-family: 'Lato';
  }
  .faq-link{
    float: right;
    line-height: 81px;
    margin-right: 80px;
    @include font-size(12px);
    letter-spacing: 1.2px;
    text-decoration: underline;
  }
  .btn{
    float: right;
  }
}

.venue-menu-wrap{
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
}

.venue-menu-info{
  width: 540px;
  background: #000;
  padding: 50px 70px 70px;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 80px;
  h4{
    @include font-size(24px);
    margin: 55px 0 50px;
  }
  .venu-menu{
    @include font-size(14px);
    font-family: 'YuMin';
    line-height: 2;
    letter-spacing: 1.4px;
  }
  .see-more{
    text-align: center;
    position: relative;
    margin-top: 40px;
    display: block;
    &:before{
      content:"";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #fff;
      top: 8px;
    }
    &:after{
      content:"";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #fff;
      top: 10px;
    }
    span{
      background: #000;
      font-weight: 700;
      color: #c5ad6c;
      padding: 0 35px;
      position: relative;
      z-index: 1;
    }
  }
  .star {
    @extend .see-more;
    margin-top: 0;
    span{
      position: relative;
      &:before{
        content:'';
        width: 15px;
        height: 15px;
        background: #fff;
        display: inline-block;
        transform: rotate(45deg);
      }
    }
  }
}

.rfp-form-details {
  background: #fff;
  padding: 30px;
}

#rfp-form{
  width: 100vw;
  @include md {
    width: 700px;
    height: 100vh;
    overflow-y: scroll;
  }
  button{
    background: #c5ad6c;
    color: #fefefe;
    border: none;
    height: 46px;
    width: 100%;
  }
  input,
  input::placeholder {
    font-family: $primary-font;
    background-size: 6px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 4px;
    margin: 0;
    height: 46px;
    border: 2px solid #eeeeee;
    @include font-size(12px);
    letter-spacing: 0.9px;
    padding: 0 11px;
    color: $default-color;
    margin-bottom: 15px;

    &:focus {
      border: 2px solid #eeeeee;
    }
  }

  input::placeholder {
    border: 0;
    padding-left: 0;
  }
}
