header
	.header-left
		.logo
			a(href="#").icon.sprite-top-logo
	.header-right
		nav.top-menu
			ul
				li オファー
				li ギャラリー
				li ルーム
				li アクセス
				li レストラン
				li 会議・宴会
		.top-cta
			a(href="#") 
				i.icon.sprite-phone
				| 03-3434-3939
		.choose-lang
			.selected-lang
				| Language
			ul 
				li English
				li Japanese	
				li Korean
				li Chinese
				li Taiwanese
		.sign-in
			.icon.sprite-login
		.hamburger
			a(href="#") hamburger

