header
	.header-left
		.logo
			a(href="#").icon.sprite-top-logo
	nav.top-menu
		ul
			li 
				a(href="#") オファー
			li 
				a(href="#") ギャラリー
			li 
				a(href="#") ルーム
			li 
				a(href="#") アクセス
			li 
				a(href="#") レストラン
			li 
				a(href="#") 会議・宴会
	.header-right
		.top-cta
			a.phone(href="#") 
				i.icon.sprite-phone
				span 03-3434-3939
			.choose-lang
				.selected-lang
					| Language
				ul 
					li English
					li Japanese	
					li Korean
					li Chinese
					li Taiwanese
		.sign-in
			.icon.sprite-login
			p アカウント
		.hamburger
			<span></span>
			<span></span>
			<span></span>

