header
	.header-left
		.logo
			a(href="#")
				img(src='../assets/images/top-logo.svg', alt='')
	nav.top-menu.hidden-xs
		ul
			li 
				a(href="#") オファー
			li 
				a(href="#") ギャラリー
			li 
				a(href="#") ルーム
			li 
				a(href="#") アクセス
			li 
				a(href="#") レストラン
			li 
				a(href="#") 会議・宴会
	.header-right
		.top-cta.hidden-xs
			a.phone(href="#") 
				i.icon.sprite-phone
				span 03-3434-3939
			.choose-lang
				.selected-lang
					| Language
				ul 
					li English
					li Japanese	
					li Korean
					li Chinese
					li Taiwanese
		.sign-in
			.icon.sprite-login
			p.hidden-xs アカウント
		a.mobile-phone.visible-xs(href="#") 
			i.icon.sprite-phone-mobile
		#hamburger.hamburger
			<span></span>
			<span></span>
			<span></span>
nav#sideNav.side-navigation
	ul.hidden-xs
		li 
			a(href="#") オファー
		li 
			a(href="#") ギャラリー
		li 
			a(href="#") ルーム
		li 
			a(href="#") アクセス
		li 
			a(href="#") レストラン
		li 
			a(href="#") 会議・宴会
	ul.visible-xs
		li 
			a(href="#") オファー
		li 
			a(href="#") ギャラリー
		li 
			a(href="#") ルーム
		li 
			a(href="#") アクセス
		li 
			a(href="#") レストラン
		li 
			a(href="#") 会議・宴会
	.choose-lang
		.selected-lang
			| Language
		ul 
			li English
			li Japanese	
			li Korean
			li Chinese
			li Taiwanese
	