//- Bower components
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/vanilla-lazyload/dist/lazyload.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js')
script(src='/bower_components/jquery-ui/jquery-ui.min.js')
//- Scripts file
script(src='/assets/scripts/main.js')
script(src='/assets/scripts/modal-popup.js')
script(src='/assets/scripts/videoplayer.js')

