

// build:js scripts/vendor.js
// bower:js
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/vanilla-lazyload/dist/lazyload.min.js')
script(src='/bower_components/slick-carousel/slick/slick.min.js')
// endbower
// endbuild
 
// build:js scripts/main.js
script(src='/assets/scripts/daterangepicker.js')
script(src='/assets/scripts/modal-popup.js')
script(src='/assets/scripts/videoplayer.js')
script(src='/assets/scripts/main.js')
// endbuild 

