link(rel='stylesheet', href='/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css')
link(rel='stylesheet', href='/assets/styles/main.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
